{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col">
        <iframe class="two-frame-row" src="../static/Linear_Regression.html"  height="300px" frameborder="0">
        </iframe>
    </div>
    <div class="col">
    </div>
</div>
<div class="row">
    <div class="col">
        <iframe class="three-frame-row" src="../static/random_forest/Random_Forest_1.html"  height="300px" frameborder="0">
        </iframe>
    </div>
    <div class="col">
            <iframe class="three-frame-row"  src="../static/random_forest/Random_Forest_10.html"  height="300px" frameborder="0">
            </iframe>
    </div>
    <div class="col">
        <iframe class="three-frame-row" src="../static/random_forest/Random_Forest_100.html"  height="300px" frameborder="0">
        </iframe>
</div>
<div class="row">
    <div class="col">
        <iframe class="one-frame-row" src="../static/k_means.html"  height="300px" frameborder="0">
        </iframe>
    </div>
    <div class="col">
        <iframe class="one-frame-row" src="../static/k_means2.html"  height="300px" frameborder="0">
        </iframe>
    </div>
</div>
</div>
<div class="row">
    <div class="col">
        <iframe class="five-frame-row" src="../static/RNN.html"  height="300px" frameborder="0">
        </iframe>
    </div>
    <div class="col">
        <iframe class="five-frame-row" src="../static/RNN2.html"  height="300px" frameborder="0">
        </iframe>
    </div>
</div>

{% endblock %}
