{% extends "base.html" %}
<title>Search Results</title>
{% block content %}
<h1>Search Movies</h1>
<div class="movie-list">
    <h1>check search:</h1>
    {% if movies %}
        {% for movie in movies %}
        <div class="card" style="width: 18rem;">
            <img class="card-img" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">

            <h2 class="card-title">{{ movie.title }}</h2>

            <p>Rating: {{ movie.vote_average }}</p>
            <a class="btn btn-primary" href="{{ url_for('main.movie_details', movie_id=movie.id) }}">Details</a>
        </div>
        {% endfor %}
    {% else %}
        <h1>No Results found :/</h1>
    {% endif %}
    

</div>
{% endblock %}
